# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

vite.config.{js,ts}.timestamp-*.mjs

/public/service-worker.js
/public/service-worker.js.map

/.eslintcache

.eslintrc-auto-import.json
auto-import.d.ts
auto-import-components.d.ts
