@use './var.scss';
@use './html-reset.scss';
@use './atom.scss';

html {
  width: var(--win-w);
  height: var(--win-h);
}

body {
  width: var(--gkd-w);
  &.body-auto-w {
    --gkd-w: 100vw;
  }
}

.page-size,
[page-size] {
  width: var(--gkd-w);
  height: var(--gkd-h);
}
