name: deploy

on:
  workflow_dispatch:
  push:
    branches: ['main']
    paths-ignore:
      - 'README.md'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22

      - uses: pnpm/action-setup@v4

      - run: pnpm install

      - run: pnpm exec tsx ./scripts/updateVersion.ts
      - run: pnpm run build:mirror
      - name: Publish package
        run: |
          pnpm config set //registry.npmjs.org/:_authToken ${{ secrets.NPM_TOKEN }}
          pnpm publish --no-git-checks

      - run: git checkout .
      - run: curl -X PUT 'https://registry-direct.npmmirror.com/@gkd-kit/inspect/sync'

      - uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy dist --project-name=gkd-inspect
